* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-bar-container {
    width: 320px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
        -6px -6px 10px rgba(255, 255, 255, 0.7);
    border-radius: 60px;
    padding: 22px;
    transition: width 1.5s;
}

#search {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(100, 100, 100);
    transition: width 1s;
    transition-delay: 0.5s;
}

.magnifier {
    cursor: pointer;
}

.mic-icon {
    transition: width 0.4s;
    transition-delay: 1s;
}

img {
    width: 30px;
}

.active.search-bar-container {
    width: 70px;

}

.active#search {
    width: 0;
}

.active.mic-icon {
    width: 0px;
}