* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue
}

.search-bar-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 380px;
    padding: 16px 14px;
    background-color: aliceblue;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2),
    2px 2px 12px rgba(192, 191, 191, 0.952);
    border-radius: 50px;

    transition: 2s;
    
}

.search-inpt {
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    background-color: transparent;
    color: rgb(100, 100, 100);
    transition: width 1.5s;
    transition-delay: 0.5s;
}

.fa-microphone {
    transition: font-size 0.1s, opacity 1s;
    transition-delay: 0.3s;
    opacity: 1;
}

.fa-magnifying-glass {
    cursor: pointer;
}

.fa-magnifying-glass:active {
    color:darkseagreen;
}

.fa-solid {
    font-size: 20px;
}


/* Active */

.active.search-bar-container {
    width: 60px;
    justify-content: center;
    gap: 0;
}

.active .search-inpt {
    width: 0;
}

.active .fa-microphone {
    font-size: 0;
    opacity: 0;
}