* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-bar-container {
    width: 320px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2),
        -6px -6px 10px rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    padding: 15px 22px;
}

#search {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(100, 100, 100);
}

.magnifier {
    cursor: pointer;
}

img {
    width: 30px;
}

.active.search-bar-container {
    width: 50px;
}

.active #search {
    width: 0;
}

.active .mic-icon {
    width: 0px;
}